@import 'normalize';
@import 'variables';
@import 'mixins';

@keyframes pulse {
  from {
    width: 85%;
    height: 85%;
  }
  to {
    width: 150%;
    height: 150%;
  }
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;
  background: $radialBackgroundGradient;
  font-family: $basicFontFamily;
  color: $white;
  font-weight: 600;
  font-size: 20px;
}

.page {
  width: 100%;
  height: 100%;
  @include flex-centered;
  flex-direction: column;
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  display: none;

  .rules-modal {
    @include flex-centered;
    justify-content: space-between;
    flex-direction: column;
    background-color: $white;
    color: #3b4363;
    width: 100%;
    height: 100%;
    padding: 17% 0;

    img:nth-of-type(1) {
      max-width: 100%;
    }

    img:nth-of-type(2) {
      max-width: 100%;
      width: 20px;
      margin-top: 15%;
    }
  }
}


.score {
  width: 83%;
  border: $headerOutline 3px solid;
  @include flex-centered;
  justify-content: space-between;
  border-radius: $boxRadius;
  font-weight: 700;
  margin: 5% auto;
  position: relative;
  max-width: 700px;

  ul {
    list-style: none;

    li {
      line-height: 0.8;
    }
  }

  .score-box {
    background-color: $white;
    color: $darkText;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: $boxRadius;
    font-size: 2.5rem;
    width: 88px;

    h1 {
      font-size: 0.7rem;
      color: $scoreText;
      font-weight: 600;
      margin: 0;
    }
  }

}

.game {
  @include flex-centered;
  flex-wrap: wrap;
  background: url("../images/bg-triangle.svg") center center no-repeat;
  background-size: 60%;
  width: 90%;
  margin-top: 5vh;
  max-width: 700px;

  .container {
    position: relative;
    @include flex-centered;
    width: 20vh;
    height: 20vh;
  }

  .paper {
    background: $paperGradient;
  }

  .scissors {
    background: $scissorsGradient;
  }

  .rock {
    background: $rockGradient;
  }

  .circle,
  .circle-computer {
    @include flex-centered;
    border-radius: $circleRadius;
    width: 15vh;
    height: 15vh;
    position: relative;
    box-shadow: inset 0 -4px 0.5px 2px rgba(0, 0, 0, 0.3);
    //margin: 19px;
    z-index: 1;

    .circle-inside {
      width: 11vh;
      height: 11vh;
      background-color: $white;
      border-radius: $circleRadius;
      box-shadow: inset 0 3px 0.5px 2px rgba(0, 0, 0, 0.2);
      @include flex-centered;

      img{
        width: 6vh;
      }
    }
  }

  .circle-computer {
    box-shadow: none;
    display: none;
    margin: 0 5%;

    .circle-inside {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: none;
    }
  }

  .pulse {
    display: none;
    border-radius: $circleRadius;
    background: radial-gradient(hsl(214, 47%, 23%) 30%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.05) 45%, rgba(255, 255, 255, 0.05) 60%, rgba(255, 255, 255, 0.03) 60%, rgba(255, 255, 255, 0.03) 75%);
    position: absolute;
    animation: pulse 0.7s infinite alternate;
  }
}

button {
  text-transform: uppercase;
  border: $headerOutline 2px solid;
  background-color: unset;
  border-radius: $boxRadius;
  color: $white;
  padding: 10px 40px;
  font-size: 1rem;
  width: 150px;
  margin-top: auto;
  margin-bottom: 60px;
}

.user-pick,
.computer-pick {
  width: 50%;
  text-align: center;
  display: none;
}

.result {
  @include flex-centered;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  display: none;
}

.winner {
  text-align: center;
  margin-top: auto;
  font-size: 2rem;
}

.play-again {
  width: 60%;
  height: 50px;
  margin-top: 20px;
  background-color: $white;
  color: $darkText;
  border:none;
}

@media only screen and (min-width: 500px) {

  .modal {
    .rules-modal {
      width: 375px;
      transform: translate(-50%, -50%);
      height: 667px;
      top: 50%;
      position: relative;
      left: 50%;
      padding: unset;

      img:nth-of-type(2){
        margin-bottom: 15%;
      }
    }
  }

  .game {
    background: url("../images/bg-triangle.svg") center no-repeat;
    background-size: 40%;
    position: relative;
    max-width: 60vh;
    margin-top: unset;

    .container {
      width: 25vh;
      height: 25vh;
    }
  }

  .rules-button {
    align-self: flex-end;
    margin-right: 30px;
  }
}
